body {
}
.logon {
  height: 86px;
  width: 34px;
}

.addbg {
  height: 576px;
  width: 100%;
  background-color: #f0fff0;
}
.btn2 {
  width: 150px;
  display: inline-block;
  height: 43px;
  padding: 8px;
  color: white !important ;
  background-color: #218573;
  border: none;
  border-radius: 10px;
}
.btn {
  width: 104px;
  height: 43px;
  padding: 8px;
  border-radius: 33px;
  color: white !important ;
  background-color: #218573;
  border: none;
}
span {
  color: #218573;
}
.addmar {
  margin-bottom: 10%;
}
.addanother {
  font-family: poppins;
  padding: 5%;
}
.addanother h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
}
.addanother h1 {
  padding: 10px;
}
.row {
  width: 100%;
  padding: 10%;
}
.addbg {
  height: 576px;
  width: 100%;
  background-color: ;
}

.float-right {
  padding-left: 30%;
}

.cl {
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  color: rgb(34, 29, 29) !important;
}
.cl:hover {
  background-color: black;
  color: #f0fff0 !important;
}

/* this is the card section */
.addcard {
  background-color: white;
  height: 400px;
  width: 100%;
  margin-bottom: 0px;
}
.addcard img {
  margin-bottom: 35px;
}
.container img {
  height: 70px;
  width: 80px;
  padding-left: 25px;
}
.text-block {
  display: inline-block;
  text-align: center;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer {
  background-color: white;
  border-top: none;
}
.fa-users {
  float: right;
  display: inline-block;
}
.middle {
  margin-bottom: 25px;
}
.man img {
  float: left;
  height: 300px;
  width: 100%;
  padding-right: 0%;
}
