body {
}
.logon {
  height: 90px;
  width: 34px;
}

.addbg {
  height: 576px;
  width: 100%;
  background-color: #f0fff0;
}
.btn2 {
  width: 150px;
  display: inline-block;
  height: 43px;
  padding: 8px;
  color: white !important ;
  background-color: #218573;
  border: none;
  border-radius: 10px;
}
.btn {
  width: 104px;
  height: 43px;
  padding: 8px;
  border-radius: 33px;
  color: white !important ;
  background-color: #218573;
  border: none;
}
span {
  color: #218573;
}
.addmar {
  margin-bottom: 10%;
}
.addanother {
  font-family: poppins;
  padding: 5%;
}
.addanother h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
}
.addanother h1 {
  padding: 10px;
}
.row {
  text-align: center;
  width: 100%;
  padding: 10%;
}
.addbg {
  height: 576px;
  width: 100%;
  background-color: #f0fff0;
  margin-bottom: 0%;
}

.float-right {
  padding-left: 30%;
}

.cl {
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  color: rgb(34, 29, 29) !important;
}
.cl:hover {
  background-color: black;
  color: #f0fff0 !important;
}

/* this is the card section */
.addcard {
  background-color: white;
  height: 50%;
  width: 100%;
  margin-top: 5%;
}
.addcard img {
  margin: 52px;
}
.container img {
  height: 70px;
  width: 80px;
  padding-left: 25px;
}
.text-block {
  display: inline-block;
  text-align: center;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer {
  background-color: white;
  border-top: none;
}
.fa-users {
  float: right;
  display: inline-block;
}
.middle {
  margin-bottom: 25px;
}
.man img {
  float: left;
  height: 300px;
  width: 100%;
  padding-right: 0%;
}
/* this is the last part  */
.last-bg {
  height: 50%;
  width: 100%;
  background-color: #282531;
  /* background-image: linear-gradient( */
  /* to left, */
  /* rgba(182, 166, 166, 0), */
  /* rgb(68, 41, 66) */
  /* ); */
}
.zl {
  color: white;
  font-family: poppins;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
}
ul li {
  color: rgb(237, 234, 238);
  margin: 5px;
  padding-left: 4px;
  padding-top: 8px;
  font-weight: 400;
}

footer {
  color: white;
  text-align: center;
}
.rong {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(202, 143, 143);
}

.container {
  height: 100%;
}
